*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.head-block{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.head-logo{
    height: 80px;
    width: 250px;
}

.logo{
    background-image: url("Logo.png");
    background-size: cover;
    height: 80px;
    width: 250px;
}

.head-title h1{
    height: 50px;
    width: 400px;
}

.border{
    border: 2px solid white;
}

.border:hover{
    border: 2px solid rgb(175, 16, 16);
}

.section{
    background-color: rgb(46, 46, 150);
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.foot-msg h2{
    height: 50px;
}

.box{
    height: 350px;
    width: 300px;
    background-color: rgb(7, 7, 66);
    border: 2px solid white;
    color: white;
}